<div class="container">
    <form  class="mat-dialog-content"  id="idFormModalidad" [formGroup]="formsRegistra">
      <div class="row">
            <mat-toolbar color="primary" >    
              <span>Registra Docente</span>    
            </mat-toolbar>  
      </div>
      <div  class="row"  style="margin-top: 3%">
                <mat-form-field class="col-md-8">
                    <mat-label>Nombre</mat-label>
                    <input matInput  name="nombre" formControlName="validaNombre" [(ngModel)]="docente.nombre" >
                    <!--inicio de validacion nombre -->
                    <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaNombre.touched">
                        <span *ngIf="formsRegistra.controls.validaNombre.hasError('required')">
                        El Nombre es requerido
                        </span>
                        <span *ngIf="formsRegistra.controls.validaNombre.hasError('pattern')">
                        El Nombre es 3 a 30 caracteres y permite solo letras
                        </span>
                    </mat-hint>
                    <!--fin de validacion nombre -->
                </mat-form-field>
                
                <mat-form-field class="col-md-4">
                    <mat-label>DNI</mat-label>
                    <input  matInput name="dni" formControlName="validaDni" [(ngModel)]="docente.dni">
                    <!--inicio de validacion dni -->
                    <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaDni.touched">
                        <span *ngIf="formsRegistra.controls.validaDni.hasError('required')">
                            El DNI es requerido
                        </span>
                        <span *ngIf="formsRegistra.controls.validaDni.hasError('pattern')">
                            El DNI tiene 8 dígitos
                        </span> 
                    </mat-hint>
                    <!--fin de validacion dni -->
                </mat-form-field>
        </div>
        <div class="row" style="margin-top: 5%">
    
            <mat-form-field class="col-md-4">
                <mat-label>Departamento </mat-label>
                <mat-select  name="departamento"  formControlName="validaDepartamento" (selectionChange)="cargaProvincia()" [(ngModel)]="docente.ubigeo!.departamento" >
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let aux of departamentos" value="{{ aux }}">
                        {{aux}}
                    </mat-option>
                </mat-select>
                <!--inicio de validacion departamento-->
                <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaDepartamento.touched" >
                    <span *ngIf="formsRegistra.controls.validaDepartamento.hasError('min')">
                        El departamento es requerido
                    </span>
                </mat-hint>
                <!--fin de validacion-->
            </mat-form-field> 


            <mat-form-field class="col-md-4">
                <mat-label>Provincia</mat-label>
                <mat-select name="provincia" formControlName="validaProvincia" (selectionChange)="cargaDistrito()" [(ngModel)] ="docente.ubigeo!.provincia"  >
                    <mat-option value="-1"> [Seleccione]  </mat-option>
                    <mat-option *ngFor="let aux of provincias" value="{{ aux }}">
                        {{ aux }}
                    </mat-option>
                </mat-select>
                <!---->
                <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaProvincia.touched">
                    <span *ngIf="formsRegistra.controls.validaProvincia.hasError('min')">
                        La provincia es requerida
                    </span>
                </mat-hint> 
                <!---->
            </mat-form-field> 

            <mat-form-field class="col-md-4">
                <mat-label>Distrito</mat-label>
                <mat-select  name="distrito" formControlName="validaDistrito" [(ngModel)] ="docente.ubigeo!.idUbigeo" >
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let aux of distritos" value="{{ aux.idUbigeo }}">
                        {{ aux.distrito }}
                    </mat-option>
                </mat-select>
                <!---->
                <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaDistrito.touched">
                    <span *ngIf="formsRegistra.controls.validaDistrito.hasError('min')">
                        El distrito es requerido
                    </span>
                </mat-hint> 
                <!---->
            </mat-form-field> 

        </div>

        <div  mat-dialog-actions>
                <button mat-raised-button 
                        type="submit" 
                        (click)="registra()"
                        color="primary"
                        [disabled]="formsRegistra.invalid"
                        [mat-dialog-close]="1" >
                        Registra
                </button>
                <button mat-button 
                        (click)="onNoClick()"
                        color="primary">
                        Salir
                </button>
        </div>

      </form>
  </div>